/* Columns: 1, Gutter Width: 1.5, Breakpoints:  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul, nav li { margin: 0; }
nav ul, ul { list-style:none; }

.span1{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.col{
  margin-left: 1.5%;
}

.col:first-child {
  margin-left:0;
}

.span1{
  width: 100%;
  margin-left: 0;
}

body{
  font-size: 87.5%;
  color: #252e35;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background: #fff;
}

h1{
    font-size: 1.714285714em; /* 24 / 14 */
    line-height: 1.5em; /* 21 / 14 */
}

h2{
  font-size: 1.5em; /* 21 / 14 */
  line-height: 1.5em; /* 21 / 14 */
}

p{
    font-size: 1em; /* 14 / 14 */
    line-height: 1.5em; /* 21 / 14 */
    margin-bottom: 1.5em; /* 21 / 14 */
}

#container, .inner{
  margin: 0 auto;
  width:960px;
}

header{
	height: 95px;
}

header h1{
  margin: 7px 0 0 0;
}

#container{
  clear: both;
  padding-top: 0;
}

.alt{
  color: #fff;
  color: rgba(255,255,255, 0.9);
  letter-spacing: 0.05em;
}

/* NAVIGATION */

nav{
  margin: 0 0 0 0;
}

nav ul{
  text-align: right;
  overflow: auto;
  width: 100%;
}

nav ul li{
  margin: 0 0 0 0;
  text-align: center;
  overflow: auto;
  float: left;
  width: 33%;
}

nav a{
  text-decoration: none;
  margin: 0;
  display: block;
  padding: 7px 0 7px 5%;
  margin: 0 0 0 4%;
  background-color: transparent;
}

/* Sections */
#top-header{
	background: #111;
	color: #fff;
	padding:10px;
}
#top-header h2{
	font-weight: normal;
	text-align: center;
}
#dynamic-message{
	background: #000;
	color: #fff;
	padding: 0 0 0 0;
	width:100%;
	overflow:hidden;
}
#dynamic-message h1{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-size: 2em;
	width: auto;
}
#bottom-message{
	background: #111;
	color: #333;
	padding:10px;
}
#bottom-message h2{
	font-weight: normal;
	color: #fff;
	text-align: center;
}
#bottom-message h1{
	color: #fff;
	text-align:center;
}
#message-text{
	color: #ff0000;
}
#contest-image{
	background: url(images/audi-a4.jpg);
	width:960px;
	height:480px;
}
#ad-content{
	height: auto;
	min-height: 320px;
	border-bottom:1px solid #ccc;
	padding: 5px 0 5px 0;
}
#ad-content article{
}
#ad-content article h2{
	font-size: 2em;
}
#ad-content article#image{
	float:left;
	width:320px;
}
#ad-content article#content{
	float:left;
	width: 60%;
	margin-top: 5em;
	margin-left: 2em;
}
#ad-content article #coupon-image{
	background: url(images/rim-prize.jpg) no-repeat;
	width: 320px;
	height: 320px;
}
#ad-content article p{
	margin: 0 0 0 0;
	padding: 8px 0 0 0;
	font-size: 1.5em;
	}
/* Button Styles */
button{
	width: auto;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		float:right;
		margin-right: 10px;
		margin-top: 100px;
		float: right;
		margin-bottom: 10px
	}
/* --------------------------- --------------------------- --------------------------- */
/* --------------------------- MEDIA QUERIES ----------------------------------------  */
/* --------------------------- --------------------------- --------------------------- */
@media screen and(max-width: 960px){
	#contest-image{
		overflow: hidden;
	}
	.container, .inner{
		width: 960px;
	}
}
@media screen and (min-width: 768px) and (max-width: 800px){
  nav .span0{
    width: 100%;
  	overflow:hidden;
  }

  .span1, article{
    width: 768px;
    overflow:hidden;
  }

  .span0, aside{
    width: 100%;
    margin-left: 0;
  }

  #dynamic-message h1{
  	font-size: 1.8em;
  	padding: 0 0 0 8px;
  }
  #contest-image{
  	width: 768px;
  	height: 480px;
  	background-position: -90px 0;
  }
  #ad-content{
  	height: auto;
  	min-height: 320px;
  	border-bottom:1px solid #ccc;
  	padding: 5px 0 5px 0;
  }
  #ad-content article#image{
  	width: 46%;
  	float: left;
  }
  #ad-content article#content{
  	padding-top: 0;
  	float: left;
  	width: 50%;
  	margin-top: 0;
  	margin-left: 0;
  	height: 320px;
  }
  #ad-content article{
  	float: left;
  	width: 320px;
  	padding-top:5px;
  }
  #ad-content article #coupon-image{
  	background: url(images/rim-prize.jpg) no-repeat;
  	background-size: 320px 320px;
  	width: 320px;
  	height:320px;
  }
  #ad-content article aside div{
  	width: 50%;
  	height: 50%;
  }
  #ad-content article h2{
		font-size: 2em;
		text-align: center;
		line-height: 1.1em;
	}
	#ad-content article p{
		margin: 0 0 0 0;
		padding: 8px 0 0 0;
		text-indent: 0;
	}
	#bottom-message h1{
		color: #fff;
		text-align: center;
	}
	#bottom-message h2{
		text-align: center;
	}
	/* Button Styles */
	button{
		width: 90%;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 10px;
		font-size: 1.2em;
		text-transform: uppercase;
		float:right;
		margin-right: 10px;
		margin-top: 80px;
		float: right;
		margin-bottom: 10px
	}
}
@media screen and (min-width: 481px) and (max-width: 640px){
  nav ul li{
    width: 100%;
    margin: 0 0 5px 0;
  }

  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }
  .span1, article{
  	max-width: 100%;
  	width: 768px;
  }
  #top-header{
  	text-align: left;
  	padding: 0;
  }
  #dynamic-message h1{
  	font-size: 1.5em;
  	padding: 0 0 0 0;
  }
  #contest-image{
  	width: 768px;
  	height: 480px;
  	background-position: -100px 0;
  }
  #ad-content{
  	height: auto;
  	min-height: 250px;
  	border-bottom:1px solid #ccc;
  	padding: 5px 0 5px 0;
  }
  #ad-content article#image{
  	width: 48%;
  	float: left;
  }
  #ad-content article#content{
  	padding-top: 0;
  	float: left;
  	width: 50%;
  	margin-left: 0;
  	margin-top: 2em;
  }
  #ad-content article{
  	float: left;
  	width: 320px;
  	padding-top:5px;
  }
  #ad-content article #coupon-image{
  	background: url(images/rim-prize.jpg) no-repeat;
  	width: 50%;
  	height:220px;
  }
  #ad-content article aside div{
  	width: 50%;
  	height: 50%;
  }
  #ad-content article h2{
		font-size: 2em;
		text-align: center;
		line-height: 1.1em;
	}
	#ad-content article p{
		margin: 0 0 0 0;
		padding: 8px 0 0 0;
		text-indent: 0;
		font-size: 1.2em;
	}
	#bottom-message h1{
		color: #fff;
		text-align: center;
	}
	#bottom-message h2{
		text-align: center;
	}
	/* Button Styles */
	button{
		width: auto;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-right: 10px;
		margin-top: 50px;
		float: right;
		margin-bottom: 10px
	}
}
@media screen and (max-width: 480px){
  nav ul li{
    width: 100%;
    margin: 0 0 5px 0;
  }

  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }
  .span1, article{
  	width: 480px;
  	overflow: hidden;
  }
  .container, .inner{
  	width: 480px;
  }
  #top-header{
  	text-align: left;
  	padding: 0;
  }
  #dynamic-message h1{
  	font-size: 1.5em;
  	padding: 0 0 0 0;
  }
  #contest-image{
  	width: 480px;
  	height: 480px;
  	background-position: -90px 0;
  }
  #ad-content{
  	height: auto;
  	min-height: 250px;
  	border-bottom:1px solid #ccc;
  	padding: 5px 0 5px 0;
  }
  #ad-content article#image{
  	width: 120px;
  	float: left;
  }
  #ad-content article#content{
  	padding-top: 0;
  	float: left;
  	width: 320px;
  	margin-left: 0;
  	margin-top: 2em;
  }
  #ad-content article{
  	float: left;
  	width: 320px;
  	padding-top:5px;
  }
  #ad-content article #coupon-image{
  	background: url(images/rim-prize.jpg) no-repeat;
  	background-size: 120px 120px;
  	width: 120px;
  	height:120px;
  }
  #ad-content article aside div{
  	width: 50%;
  	height: 50%;
  }
  #ad-content article h2{
		font-size: 2em;
		text-align: center;
		line-height: 1.1em;
	}
	#ad-content article p{
		margin: 0 0 0 0;
		padding: 8px 0 0 0;
		text-indent: 0;
		font-size: 1.2em;
	}
	#bottom-message h1{
		color: #fff;
		text-align: center;
	}
	#bottom-message h2{
		text-align: center;
	}
	/* Button Styles */
	button{
		width: auto;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-right: 10px;
		margin-top: 50px;
		float: right;
		margin-bottom: 10px
	}
}
@media screen and (min-width: 321px) and (max-width: 479px){
	#dynamic-message h2{
		text-align: center;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	nav .span0{
    width: 100%;
  }

  .span1, article{
    width: 100%;
    overflow:hidden;
  }

  .span0, aside{
    width: 100%;
    margin-left: 0;
  }

  #container, .inner{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  #top-header h2{
  	text-align: center;
  	font-size: 1.1em;
  }
  #dynamic-message{
  	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  }
  #dynamic-message h1{
  	text-align: center;
  	font-size: 1.2em;
  	width:auto;
  	padding: 5px;
  }
  #contest-image{
  	display:block;
  	background-repeat: no-repeat;
  	background-position: 0 0;
  }
  #ad-content{
  	height: auto;
  	min-height: 200px;
  	border-bottom:1px solid #ccc;
  	padding: 5px 0 5px 0;
  }
  #ad-content article#image{
  	width: 50%;
  	float: left;
  	padding: 0;
  }
  #ad-content article#content{
  	padding-top: 0;
  	float: left;
  	width: 50%;
  	margin-top: 0;
  	margin-left: 0;
  	height: 150px;
  }
  #ad-content article{
  	float: left;
  	width: 50%;
  	padding-top:5px;
  }
  #ad-content article #coupon-image{
  	background: url(images/rim-prize.jpg) no-repeat;
  	background-size: 200px 200px;
  	width: 200px;
  	height: 200px;
  	margin-left: 0;
  }
  #ad-content article aside div{
  	width: 50%;
  	height: 50%;
  }
  #ad-content article h2{
		font-size: 1.2em;
		text-align: center;
		line-height: 1.3em;
		text-transform: uppercase;
	}
	#ad-content article p{
		margin: 0 0 0 0;
		padding: 8px 0 0 0;
		font-size: 0.875em;
	}
  #bottom-message h2{
  	text-align: center;
  	font-size: 1em;
  	line-height: 1.2em;
  }
  #bottom-message h1{
  	text-align: center;
  	font-size: 1.2em;
  	line-height: 1.2em;
  	text-transform: uppercase;
  	color: #fff;
  }
  	/* Button Styles */
	button{
		width: 95%;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 10px;
		font-size: 0.9em;
		text-transform: uppercase;
		float:left;
		margin-top: 10px;
	}
}
@media screen and (max-width: 320px) {
	#dynamic-message h2{
		text-align: center;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	nav .span0{
    width: 100%;
  }

  .span1, article{
    width: 100%;
    overflow:hidden;
  }

  .span0, aside{
    width: 100%;
    margin-left: 0;
  }

  #container, .inner{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  #top-header h2{
  	text-align: center;
  	font-size: 1.1em;
  }
  #dynamic-message{
  	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  }
  #dynamic-message h1{
  	text-align: left;
  	font-size: 1.2em;
  	width:auto;
  	padding: 5px;
  }
  #contest-image{
  	width:320px;
  	height:160px;
  	display:block;
  	background-size: 320px 160px;
  	background-repeat: no-repeat;
  	background-position: 0 0;
  }
  #ad-content{
  	height: auto;
  	min-height: 150px;
  	border-bottom:1px solid #ccc;
  	padding: 5px 0 5px 0;
  }
  #ad-content article#image{
  	width: 50%;
  	float: left;
  	padding: 0;
  }
  #ad-content article#content{
  	padding-top: 0;
  	float: left;
  	width: 50%;
  	margin-top: 0;
  	margin-left: 0;
  	height: 150px;
  }
  #ad-content article{
  	float: left;
  	width: 50%;
  	padding-top:5px;
  }
  #ad-content article #coupon-image{
  	background: url(images/rim-prize.jpg) no-repeat;
  	background-size: 150px 150px;
  	width: 150px;
  	height: 150px;
  	margin-left: 0;
  }
  #ad-content article aside div{
  	width: 50%;
  	height: 50%;
  }
  #ad-content article h2{
		font-size: 0.875em;
		text-align: center;
		line-height: 1.3em;
		text-transform: uppercase;
	}
	#ad-content article p{
		margin: 0 0 0 0;
		padding: 8px 0 0 0;
		font-size: 0.875em;
	}
  #bottom-message h2{
  	text-align: center;
  	font-size: 1em;
  	line-height: 1.2em;
  }
  #bottom-message h1{
  	text-align: center;
  	font-size: 1.2em;
  	line-height: 1.2em;
  	text-transform: uppercase;
  	color: #fff;
  }
  	/* Button Styles */
	button{
		width: 95%;
		background: #2ba6cb;
		border: 1px solid #1e728c;
		border-radius: 2px;
		color: #fff;
		padding: 10px;
		font-size: 0.9em;
		text-transform: uppercase;
		float:left;
		margin-top: 10px;
	}
}


// Micro Clearfix

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}