/* Columns: 1, Gutter Width: 1.5, Breakpoints:  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul, nav li { margin: 0; }
nav ul, ul { list-style:none; }

.span1{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.col{
  margin-left: 1.5%;
}

.col:first-child {
  margin-left:0;
}

.span1{
  width: 100%;
  margin-left: 0;
}

body{
  font-size: 87.5%;
  color: #252e35;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background: #f6f6f6;
}

h1{
    font-size: 1.714285714em; /* 24 / 14 */
    line-height: 1.5em; /* 21 / 14 */
}

h2{
  font-size: 1.5em; /* 21 / 14 */
  line-height: 1.5em; /* 21 / 14 */
}

p{
    font-size: 1em; /* 14 / 14 */
    line-height: 1.5em; /* 21 / 14 */
    margin-bottom: 1.5em; /* 21 / 14 */
}

#container, .inner{
  margin: 0 auto;
  width:960px;
}

header{
	height: 95px;
}

header h1{
  margin: 7px 0 0 0;
}

#container{
  clear: both;
  padding-top: 0;
}

.alt{
  color: #fff;
  color: rgba(255,255,255, 0.9);
  letter-spacing: 0.05em;
}

/* NAVIGATION */

nav{
  margin: 0 0 0 0;
}

nav ul{
  text-align: right;
  overflow: auto;
  width: 100%;
}

nav ul li{
  margin: 0 0 0 0;
  text-align: center;
  overflow: auto;
  float: left;
  width: 33%;
}

nav a{
  text-decoration: none;
  margin: 0;
  display: block;
  padding: 7px 0 7px 5%;
  margin: 0 0 0 4%;
  background-color: transparent;
}

/* Sections */
#top-header{
	background: #111;
	color: #fff;
	padding:10px;
}
#top-header h2{
	font-weight: normal;
}
#dynamic-message{
	background: #000;
	color: #fff;
	padding: 5em 0 5em 0;
	width:100%;
}
#dynamic-message h1{
	text-align: center;
	margin: 0 auto;
	font-size: 2.5em;
}
#bottom-message{
	background: #ccc;
	color: #333;
	padding:10px;
}
#bottom-message h2{
	font-weight: normal;
}
/* MEDIA QUERIES */

/* Responsify Defaults */

@media screen and (max-width: 768px){
  nav .span0{
    width: 100%;
  }

  .span1, article{
    width: 100%;
  }

  .span0, aside{
    width: 100%;
    margin-left: 0;
  }

  #container, .inner{
    width: 100%;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 480px){
  nav ul li{
    width: 100%;
    margin: 0 0 5px 0;
  }

  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }
}

@media screen and (max-width: 320px) {
	#dynamic-message h2{
		text-align: center;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	nav .span0{
    width: 100%;
  }

  .span1, article{
    width: 100%;
    overflow:hidden;
  }

  .span0, aside{
    width: 100%;
    margin-left: 0;
  }

  #container, .inner{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  #top-header h2{
  	text-align: center;
  	font-size: 1.1em;
  }
  #dynamic-message{
  	margin: 0 0 0 0;
  	padding: 1em 0 1em 0;
  }
  #dynamic-message h1{
  	text-align: center;
  	font-size: 1.5em;
  	width:auto;
  }
  #bottom-message h2{
  	text-align: center;
  	font-size: 1em;
  	line-height: 1.2em;
  }
}


// Micro Clearfix

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}


